:root {
    --background-color: #f4f9f9;
    --text-color: #000f1c;
    --text-color-dark: #f4f9f9;
    --buttons-bg: #fa6441;
    --primary-color : #000f1c;
    --header-border: #dddddd;
    --header-bg: #F0F0F0;
    --header-left: #E8E8E8;
    --header-left-btn-hover: #ffffff3c;
}

[data-theme="dark"] {
    --background-color: #000f1c;
    --text-color: #ecf0f1;
    --text-color-dark: #000f1c;
    --buttons-bg: #fa6441;
    --primary-color : #f4f9f9;
    --header-border: #283745;
    --header-bg: #000f1cd1;
    --header-left: #00172b;
    --header-left-btn-hover: #ffffff19;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CodeMirror {
    font-size: 15px; /* Change this to whatever size you want */
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Quicksand', sans-serif;
}

.header {
    z-index: 990;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--header-border);
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

.leftContainer {
    display: flex;
    align-items: center;
}

.logo-container {
    margin-right: 20px;
}

.logo {
    width: 80px;
}

.leftBtns {
    display: flex;
    align-items: center;
    background-color: var(--header-left);
    padding: 5px;
    border-radius: 8px;
    border: 1px solid var(--header-border);
}

.leftBtn {
    margin: 0 7px;
}

.leftBtn a, .file-dropbtn {
    color: var(--text-color);
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    border-radius: 6px;
    transition: all .3s ease-in-out;
    border: 1px solid #000f1c00;
}

.leftBtn a:hover, .file-dropbtn:hover  {
    background-color: var(--header-left-btn-hover);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.071);
    border: 1px solid var(--header-border);
}

.leftBtn {
    position: relative;
    display: inline-block;
}

.file-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--header-left);
    border: 1px solid var(--header-border);
    min-width: 160px;
    z-index: 1;
    border-radius: 8px;
}

.leftBtn:hover .file-dropdown-content {
    display: block;
}

.file-dropdown-content a {
    display: block;
    padding: 9px 20px;
    margin: 5px;
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid #000f1c00;
}

.file-dropdown-content a:hover {
    background-color: var(--text-color-dark);
    border: 1px solid var(--header-border);
    color: var(--text-color);
}

.file-dropdown-content a:last-child {
    border-bottom: none;
}

.rightContainer {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    gap: 20px;
}

#metaMenu{
    display: flex;
    justify-content: center;
}

.icon-link {
    color: var(--text-color);
    font-size: 20px;
    cursor: pointer;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    width: 25px;
}

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
    transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
    fill: var(--text-color);
}

.sun-and-moon > .sun-beams {
    stroke: var(--text-color);
    stroke-width: 2px;
}

[data-theme="dark"] .sun-and-moon > .sun {
    transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
    opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
    transform: translateX(-7px);
}

.sun-and-moon .moon > circle {
    transition: transform 0.25s ease-out;
}

@media (prefers-reduced-motion: no-preference) {
    .sun-and-moon > .sun {
        transition: transform 0.5s ease-in-out;
    }

    .sun-and-moon > .sun-beams {
        transition: opacity 0.3s ease-in-out;
    }
}

.menu-icon {
    display: grid;
    grid-template-columns: repeat(3, 5px);
    grid-template-rows: repeat(3, 5px);
    gap: 3px;
    transition: all .3s ease-in-out;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.menu-icon:hover .dot {
    background-color: var(--buttons-bg);
}

.profile-overlay {
    display: none;
    position: fixed;
    width: 350px;
    height: auto;
    right: 50px;
    top: 75px;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 1px solid var(--header-border);
    border-radius: 30px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.047);
    text-align: center;
    z-index: 2;
}

.profile-overlay.visible {
    display: block;
}

#profileInfo, #profilefiles {
    padding: 10px;
}

#profileInfo {
    border-bottom: 1px solid var(--header-border);
}

#profileInfo h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

#profileInfo p{
    font-size: 14px;
    margin-bottom: 8px;
}

#profileInfo button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    background-color: var(--buttons-bg);
    color: #ecf0f1;
    transition: background-color 0.3s ease;
    margin-bottom: 8px;
}

#profilefiles h4{
    margin-bottom: 10px;
}

#users-files {
    width: 300px;
    max-height: 250px;
    overflow-y: auto;
    border-radius: 8px;
    padding: 10px;
}

.file-entry {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 7px;
    border: 1px solid var(--header-border);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.file-entry:hover {
    background-color: var(--header-left-btn-hover);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#users-files::-webkit-scrollbar {
    width: 2px;
}

#users-files::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
}

#users-files-bottom-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0 40px;
}

.bottom-option-icon {
    font-size: 22px;
    color: var(--text-color);
    transition: all 0.3s ease;
}

.bottom-option-icon:hover {
    color: var(--buttons-bg);
}

.settings:hover{
    rotate: 90deg;
    transform: scale(1.1);
}

.filesBtn:hover{
    animation: filesBtnAnimation .8s forwards;
}

@keyframes filesBtnAnimation{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.1);
    }
    30%{
        transform: scale(1.1);
        rotate: 5deg;
    }
    40%{
        transform: scale(1.1);
        rotate: -5deg;
    }
    50%{
        transform: scale(1.1);
        rotate: 5deg;
    }
    60%{
        transform: scale(1.1);
        rotate: -5deg;
    }
    70%{
        transform: scale(1.1);
        rotate: 5deg;
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}






























body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #3f9bfd, #007BFF);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    background: #fff;
    width: 75%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 2em;
    color: #333;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

input[type="number"], select {
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="number"]:focus, select:focus {
    border-color: #007BFF;
}

.button{
    background: transparent;
    text-decoration: none;
    border: #007BFF 2px solid;
    color: #007BFF;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background: #007bff;
    color: #fff;
}

#imagePreview {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    transition: transform 0.5s;
}

#imagePreview:hover {
    transform: scale(1.05);
}

.back-btn{
    position: absolute;
    border-radius: 25px;
    width: 43px;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    border: #ffffff 2px solid;
    transition: .3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.227);
    animation: fadeIn 1s ease-in-out;
}

.back-btn a img{
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
}

.back-btn:hover{
    border: #ffffff 2px solid;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.227);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
