@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --primary-color: #002C54;
    --secondary-color: #1E2761;
    --light-color: #FFFFFF;
    --text-color: #FFD662FF;
    --clock-color: #17D4FE;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: var(--primary-color);
    color: var(--light-color);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: var(--text-color);
    font-size: 3rem;
}

.convert, .exchange {
    font-family: 'Sansita Swashed', cursive;
    font-size: 25px;
    color: var(--light-color);
    padding-right: 20px;
}

input {
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin: 5px auto;
    outline: 0;
}

button {
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    font-family: 'Sansita Swashed', cursive;
    border: 2px solid var(--text-color);
    background-color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
}

select {
    width: 80px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    outline: 0;
}

#exchange {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 20px;
    outline: 0;
    color: var(--primary-color);
    border: 4px solid var(--text-color);
    background-color: var(--text-color);
}

#exchange:active, button:active {
    transform: scale(0.9);
}

#output-text {
    display: none;
    padding: 20px;
    font-size: 30px;
    color: var(--light-color);
}

span {
    color: var(--text-color);
    font-size: 35px;
}

#exchange-rate {
    cursor: default;
    width: 150px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

footer {
    position: absolute;
    right: 50px;
    bottom: 50px;
}

a {
    color: var(--light-color);
    bottom: 0;
    font-size: 30px;
    text-decoration: none;
}

.clock {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--clock-color);
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 7px;
}

.currency-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: var(--text-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body.light-mode {
    --primary-color: #FFFFFF;
    --secondary-color: #E5E5E5;
    --light-color: #000000;
    --text-color: #1E2761;
    --clock-color: #002C54;
}
